[2019-01-13 21:40] BannerBomb opened #2 "[suggestion] A way to give a role if a user messes up"
It would be nice if there was a way to set a max number of mistakes a user can get before getting a role, which can be configured in the channel settings to make it so they cannot count any more until the role is removed. And possibly a way to toggle if the bot should post stats like the top 3 counters usernames in the channel topic or not.

[2019-01-15 09:58] gleeny commented on #2
Suggestion added; https://trello.com/c/e4s35cjt/33-when-someone-mess-up-x-amount-of-times-within-a-time-period-give-the-user-a-role - Please upvote it. Countr will be remade soon, this week I think. The code will get less messy as well.

[2019-01-15 09:58] #2 closed

[2019-03-26 13:29] adiologydev opened #1 "Use `require` and not fs to load config files"
As your config file is a JSON, please use the native thing which would be `require` in your case.

You currently require config through the following methods:

    const config = JSON.parse(fs.readFileSync("./config.json"))
    const config = JSON.parse(require("fs").readFileSync("./config.json", "utf8"))

Which is firstly inconsistent in different files and then again, why are you reading them th

[2019-04-02 06:40] promise commented on #1
Thank you for letting me know, it will be fixed when language support rolls out.

[2019-04-02 06:40] #1 closed, assigned to nobody

[2019-10-25 20:13] promise opened #5 "Countr Rewrite: New year, new me"
"New year, new me," they say. That's not as easy as it seems, especially in some form of code others use daily on their server. I've rewritten the bot so many times now, I'm being kinda sick of it, so I'm gonna make the code as best as I can this time. For me as the main developer, for contributors, for self-hosters and you: the user.

# Main focus
For the 2020 update, the main focus is on
- acces

[2020-01-03 16:49] promise commented on #5
The update is live for both premium and Countr!
- Premium downtime <10 minutes
- Countr downtime 1 hour, 30 minutes

Premium has now also been moved over to a more powerful VPS which should now give 100% uptime. (not guaranteed due to Discord's outages)

[2020-01-03 16:49] #5 closed, assigned to promise, fabianneufang

[2020-01-03 22:13] promise opened #10 "[WEBA] Icons are missing"
# Feature request

An endpoint for icons exist in the API, please integrate this into the server list, the server panel (an icon of the server somewhere) as well as on the leaderboard.

[2020-01-04 00:41] promise opened #11 "[BOT] Some guild data interfere with each other"
# Bug

Some guild data, such as users, interfere with other guilds somehow. I'm quite unsure of how this happens, but we might need to make the guilds save to the database in a different way.

## Reproducing

Cannot reproduce myself, but the support servers have gotten multiple reports of this.

## Expected behavior

This should not have happened, the guild data should be separate and not interfer

[2020-01-04 01:01] promise commented on #11
I'm thinking it's happening right at the start when the bot caches all the guilds. Tests done in the past checks out on this theory. We need to make a system that caches all the guilds asynchronous after the bot has logged in, as well as cache new guilds when Countr gets added. After the bot has cached the guild, we allow for the counting channel and commands to work.

Right now we cache all of th

[2020-01-04 09:00] fabianneufang commented on #10
Working on it

[2020-01-04 13:41] promise commented on #11
This bug looks like it is patched. We now fetch all the guilds' databases *before* we allow any interaction with Countr. We will reopen this issue if it's still a problem.

[2020-01-04 13:41] #11 closed, assigned to promise

[2020-01-05 16:26] promise opened #14 "[BOT] Lock the counting channel after X counts"
# Feature request

Make a similar system of pintriggers to lock the channel instead.

[2020-01-06 14:24] hemangsrr opened #15 "[BOT] c!top value error"
# Bug

The c!top gives the wrong count for users. Those with more than 100 counts are shown as 52, and so on.

## Reproducing

1. Run command 'c!top'
2. Then search for messages from a user in the counting channel
3. Compare  the count values

## Expected behavior

Both should be the same

## Screenshots

![aimie counting](https://user-images.githubusercontent.com/44643029/71823871-494e2900-30be-1

[2020-01-06 19:12] promise opened #16 "Detect scores off the counting channel"
(Inspired by #15)

# Feature request

Add a command to detect all the message counts in the counting channel, and then send a JSON-file back (that you then can import in with the [importscores-command](https://countr.xyz/#/commands?id=cimportscores).)

[2020-01-06 19:13] promise commented on #15
Your issue is not a bug but rather intended: the amount of counts from each user in the counting channel is not directly linked up to the score of said user. The scoring system isn't linked with the number of counts the user has, but rather that when you count a number, your score increases by one.

This is not a bug, but I can look if there is a possibility of detecting scores with a command, mea

[2020-01-06 19:13] #15 closed, assigned to promise

[2020-01-06 20:09] promise commented on #16
Just realized this will have some disadvantages, such as those using webhooks or reposting-modules won't have the ability to do this. I can still implement this for those who transfer over from another bot to Countr though, and those who don't use the reposting modules.

[2020-01-07 04:14] hemangsrr commented on #15
that is what i meant. As we have been using countr from the begininng.  So both the counts should have been the same. It might be the database issue tho

[2020-01-07 04:46] hemangsrr commented on #16
Just a few thoughts
1. upon execution of the command first check for reposting or webhook status
2. If reposting enabled, instead of counting messages from user, count user mentions
3. If webhook enabled, add count to user with the same username as the webhook post

there is a lot of loopholes in webhook still,

- multiple people with same name
- people changing usernames etc

[2020-01-07 15:31] promise opened #17 "Top ten servers monthly and weekly."
# Feature request

Top ten servers monthly and weekly. (suggested by 10morty#1021)

[2020-01-16 00:14] Al-Kohollik opened #18 "[BOT] Announce when a message is deleted or edited in the counting channel"
# Feature request

Add a setting that toggles the bot to send a message when a message is deleted by a human user in the counting channel.

For example:
[code]

[2020-01-16 05:29] #18 closed, assigned to nobody

[2020-01-16 05:29] fabianneufang commented on #18
This issue is invalid, because we already have a feature to prevent users from deleting their messages.

[2020-02-19 22:00] promise opened #19 "[BOT] When getting help for a specific command, get fully detailed help"
# Feature request

When getting help for a specific command, display all its information available like usage, examples etc. etc.

[2020-02-23 17:06] promise opened #20 "[BOT] Add a way to remove all non-members from the leaderboard"
# Feature request

Add a way to remove all non-members from the leaderboard

[2020-02-23 17:25] fabianneufang commented on #10
Not so easy to do and won't be added in the next time

[2020-02-23 17:25] #10 closed, assigned to fabianneufang

[2020-04-07 08:08] fabianneufang opened #21 "[BOT] Japanese Numbers"
# Feature request

Countr does not support Japanese numbers and spaces.
The numbers in Japanese are; `１２３４５６７８９０`
The space is: `　`

[2020-04-13 12:19] AkaEthan110 opened #22 "[DOCS] Typo"
# Typo

In the 'admins' section underneath 'optional', it says "No, but recommended". Basically, it is saying that admins isn't optional but it is recommended. That doesn't make sense. I would recommend changing it to "Yes, but recommended". If you did so, it would be saying that admins is optional but it is recommended.

tl;dr - To be grammatically correct in the 'admins' bit, for 'optional', it

[2020-04-13 12:22] promise commented on #22
It should've said "Required" instead of "Optional" ... because a Discord token is indeed required for a Discord bot to work... Thanks for bringing it to my attention.

[2020-04-13 13:16] AkaEthan110 commented on #22
Ah, yes. I didn't notice that.

[2020-04-21 21:09] ghost opened #23 "[BOT] *Not responding*"
When I start the Bot there comes a big error message and then ready as Username#3422 then It doesnt respond to any command pls help

[2020-04-21 21:12] promise commented on #23
Would love to see that error message. Can't really help you unless you give me the error message.

[2020-04-22 23:51] THErealARETE commented on #22
can I open a pull request to this effect, would be very helpful

[2020-04-23 04:45] fabianneufang commented on #22
@THErealARETE You dont have to ask for opening a PR.

[2020-04-23 04:50] fabianneufang commented on #22
I've made the PR

[2020-05-02 09:05] fabianneufang opened #25 "[BOT] Support server link on top.gg"
# Bug

The invite link to the support server on top.gg and/or other platforms is/are invalid.

## Reproducing

1. Go to https://top.gg/bot/countr
2. Click "Join Support Server"

## Expected behavior

You should be able to join the server.

## Screenshots

https://cursed-images.xyz/i/5h01qcfb.png

[2020-05-02 09:12] promise commented on #25
This is not a bug with the source code of Countr. Closing.

[2020-05-02 09:12] #25 closed, assigned to promise

[2020-05-07 00:01] DuckMasterAl opened #26 "[BOT] settimeoutrole Fails to use Markdown."
# Typo

When you do `c!settimeoutrole` it says ":x: Invalid role. For help, type \`c!help timeoutrole"
Forgetting the end \`

## Screenshots
<img width="304" alt="Screen Shot 2020-05-06 at 7 59 47 PM" src="https://user-images.githubusercontent.com/43557963/81240037-54fe1d80-8fd4-11ea-9fca-db8722b183dd.png">

[2020-05-09 07:05] fabianneufang commented on #26
See PR #27

[2020-05-15 05:27] marens101 opened #28 "[BOT] Feature Request: Blocked Users"
It would be nice to be able to block users from counting. I understand discord's native permissions could be used for this, but it would be nice to be able to use the bot instead so category permissions don't become unsynced.
Example use case: People that use alts to spam count. I'd like to block the alts but not their main accounts.

[2020-05-15 05:57] Ta1al commented on #28
You could just make a new role and disable it's "SEND MESSAGES" permission from the category. That way the counting channel will still be in sync with the category channel and you can add that role to the user you want to block.

[2020-05-15 19:22] fabianneufang commented on #28
You can just use the native permissions.

[2020-05-15 19:22] #28 closed, assigned to nobody

[2020-05-22 15:49] fabianneufang opened #29 "[BOT] Function to disable the change of the topic of the counting channel"
# Feature request

Give the users the ability to disable the change of the counting channel topic.

[2020-05-22 15:54] promise commented on #29
Already added to the bot kek

[2020-05-22 15:54] #29 closed, assigned to promise

[2020-05-28 12:20] promise commented on #23
Inactive.

[2020-05-28 12:20] #23 closed, assigned to promise

[2020-05-28 12:20] promise commented on #26
The issue will be fixed in the rewrite.

[2020-05-28 12:20] #26 closed, assigned to promise

[2020-05-28 21:08] promise commented on #22
N/A, new docs will come with the rewrite

[2020-05-28 21:08] #22 closed, assigned to promise, fabianneufang

[2020-06-12 18:40] thetayloredman opened #30 "c!topic broken [BUG]"
The topic doesnt display for me and my server members pls fix

[2020-06-12 18:56] promise commented on #30
Not a bug: topic feature has temporarily been disabled. Please see https://countr.xyz/ for more information.

[2020-06-12 18:56] #30 closed, assigned to nobody

[2020-06-14 19:44] best36 opened #31 "bug"
right now, our server is at 1759 and every time we try and type in 1760, the bot will say that is not the correct number, please help

[2020-06-14 19:49] promise commented on #31
Issues like this should be solved in our support server. https://promise.solutions/discord

[2020-06-14 19:49] #31 closed, assigned to nobody

[2020-06-19 01:02] PythonerAlex opened #32 "Issue"
I cannot add automatic counting role rewards, for some reason.

[2020-06-19 06:06] promise commented on #32
Issues like this should be solved in our support server. https://promise.solutions/discord

[2020-06-19 06:06] #32 closed, assigned to nobody

[2020-07-08 18:04] meduzol94 opened #33 "[BOT] *i cant off module allowspam*"
# Bug

**You don't have in your bot command to off allowspam module? Because i kick your bot and reinvate it but it's still have allowspam module on**

## Reproducing

**1. Run command 'c!toggle allow-spam'**
**2. Run command 'c!toggle allow-spam'**

## Expected behavior

**I expected turning off module**

[2020-07-08 18:39] fabianneufang commented on #33
Did you ensure that it said, that the module got turned off?

[2020-07-08 19:26] meduzol94 commented on #33
man i tried c!toggle allow-spam again and it dont off it

[2020-07-08 19:29] promise commented on #33
Issues like this should be solved in our support server. https://promise.solutions/discord

[2020-07-08 19:29] #33 closed, assigned to promise

[2020-07-11 19:23] #21 closed, assigned to promise

[2020-07-13 13:21] Plakske-Kaas opened #34 "[BOT] broken counting"
# Bug

The channel doesn't work anymore. It keeps deleting everything number. On the top of the channel it says 'next count 203' but when we put that in it still doesn't work.

## Reproducing

1. Run command '...'
2. Then count '...'
3. Then delete count '...'

## Expected behavior

We were at 455 and multiple have already sent 456 but it keeps deleting it.

## Screenshots

[2020-07-13 13:23] fabianneufang commented on #34
Please send us a mesage in our support server: https://promise.solutions/discord

[2020-07-13 13:23] #34 closed, assigned to nobody

[2020-08-11 08:00] jewel60 opened #36 "Countr"
# Bug

In the server chat we have for counting everything put in that chat gets deleted even if it’s the right next number or not

## Reproducing

1. Run command '...'
2. Then count '...'
3. Then delete count '...'

## Expected behavior

A clear description of what you expected to happen.

## Screenshots

If you have screenshots, please upload these.

[2020-08-11 09:13] fabianneufang commented on #36
Not code related. Please send us a message on our support server

[2020-08-11 09:13] #36 closed, assigned to nobody

[2020-08-31 17:39] RyTniXDEV opened #37 "Counter editing."
The counter doesn't work and you can edit the message and doesn't count like how it was before.
i think this is a bug and if you have more information about this please message me!

[2020-08-31 19:30] promise commented on #37
Not code related. Please send us a message on our support server.
https://promise.solutions/discord

[2020-08-31 19:30] #37 closed, assigned to nobody

[2020-09-18 15:08] ajsirota opened #39 "[DOCS] typo in social image"
# Typo
The social image shows "couting" instead of "counting".

[2020-09-18 15:41] fabianneufang commented on #39
We will have a look at it. Thank you for your help

[2020-09-22 15:58] ajsirota commented on #39
Here's a screenshot
![image](https://user-images.githubusercontent.com/67526318/93907131-d15a7a00-fcb1-11ea-9dd1-b2072afed77f.png)
**edit:** looks like the annotation didn't save. Anyway, it's in the second line of the copy.

[2020-10-06 17:32] lacuna-exe opened #40 "[Feature Request]"
Exemption Role- Countr would ignore anyone with this role(doesn’t count any attempted counts, doesn’t delete messages in the counting channel.)(Example of why this would be useful: https://share.getcloudapp.com/o0umQZ0r) (Edit: Seems unneeded as countr ignores bots after the rewrite.)

[2020-10-08 20:31] Typcial-Username opened #41 "Can’t count a live 367"
When we try to go to 367 in my server the message gets deleted even though it is the correct number.

[2020-10-08 21:09] lacuna-exe commented on #41
Might be a better idea to try and solve this in the support server.
https://promise.solutions/discord

[2020-10-09 04:27] fabianneufang commented on #41
As @e5510 said, this is not related to the code.
Go to the support server and ask for help there. I will close this issue now.

[2020-10-09 04:27] #41 closed, assigned to nobody

[2020-10-29 20:12] promise commented on #14
Will be added to the rewrite.

[2020-10-29 20:12] #14 closed, assigned to promise

[2020-10-29 20:12] promise commented on #19
Will be added to the rewrite.

[2020-10-29 20:12] #19 closed, assigned to promise

[2020-10-29 20:12] promise commented on #20
Will be added to the rewrite.

[2020-10-29 20:12] #20 closed, assigned to promise

[2020-10-30 08:14] promise commented on #30
Topic feature has been disabled due to Discord's new rate limit.

[2020-11-09 09:29] FuturisticGoo opened #47 "Add regex option to notifyme"
It would be nice if you could add an option which notifies me when a certain regex is satisfied. For example, notifyme when number ends with 99.

[2020-11-09 10:19] kennethpdev opened #48 "Cannot list flows with too much content"
# Bug Report

I accidentally set a regex that is very long in one of my flows. Now when I list all the flows. It never return the embed content. It always says `An unknown error occurred. Do I have permission? (Embed Links)`. Perhaps the limit on the embed have been reached and its preventing to show the flows. Now there's no way for me to get the existing flows. Hoping we can list t hem without u

[2020-11-09 11:00] Ta1al commented on #48
This is an actual issue that needs to be worked on and should not be closed just yet

[2020-11-09 17:59] promise commented on #48
Fixed, will be live once the VPS gets back up.

[2020-11-11 03:08] peter-leong opened #51 "Temporary Roles given in Flows"
# Feature request

In the previous version of Countr, before flows were added, there were temporary roles that could be given once a specific trigger occurred. In my server what I would do is whoever counted a multiple of 25 would get a role called "current countr", and the next person who got the next multiple would "steal" the "current countr" role. If this could be added back that would be grea

[2020-11-11 06:00] lacuna-exe commented on #51
This is still possible via the action’s in flows via the options one and three combined. `https://share.getcloudapp.com/12urnzyx`

[2020-11-17 18:11] #40 closed, assigned to nobody

[2020-11-22 06:59] dylanamic opened #54 "extra flows"
Hey, so I think something that you should allow on countr is that we could purchase more flows, just flows. Currently your patreons increase everything, but it'll be nice if there's something that will just increase the number of flows. Previously before this update, I used to have roles given out to users for every 1k score, but now with the limited number of flows, I can no longer do that. But I

[2020-11-22 15:29] #51 closed, assigned to promise

[2020-11-28 18:24] lacuna-exe opened #56 "Pin action and webhook are not compatible"
# Bug Report

Countr attempts to pin the message , then deletes it and reposts it as an webhook causing the pin to disappear/fail

## Reproducing

1. Add a flow with the action of pining a message and a trigger of multiplication of x number
2. Count a multiple of x number

## Expected behavior

Countr pins the webhook message

[2020-11-28 18:40] promise commented on #56
Fixed.

[2020-11-28 18:40] #56 closed, assigned to promise

[2020-12-14 00:08] lacuna-exe opened #58 "Strip comments when talking is off rather than deleting the entire message"
# Feature request

When modules such as webhook,reposting,or embed are enabled (or possibly also default configuration, but it forces the message into a webhook) but talking is disabled, rather than just removing the message and not counting it, just remove the comment affixed to the count.

[2020-12-24 12:29] promise commented on #58
Idea is good, but wouldn't be consistent when having no modules enabled.

[2020-12-24 12:29] #58 closed, assigned to nobody

[2020-12-24 12:31] promise commented on #16
I guess this would be more for when switching from a different bot to Countr. There's no need to detect scores off when using reposting/webhook/embed-modules when their scores have already been modified.

[2020-12-24 12:34] promise commented on #54
Hey. We don't plan on increasing the limit in the near future. If you'd like, you can always self-host the bot and increase the limit yourself. The limit is there because every time someone counts a successful count, Countr must run additional code per flow to check if the flow is triggered or not, and additionally run the flow actions if it got triggered. The limit is mostly there to save CPU usa

[2020-12-24 12:34] #54 closed, assigned to promise

[2021-01-13 15:28] lacuna-exe opened #59 "c!score command to minimize leaderboard flood to see that info"
# Feature request

(https://discord.com/channels/449576301997588490/544222717373710356/798933535238520852) Score command to see  personal score rather than flooding with leaderboard

[2021-01-15 16:10] lacuna-exe opened #60 "Typo in error message from attempting to set an invalid value in the set count command."
# Typo

Typo in error message from attempting to set an invalid value in the set count command. “❌ Invalud number.” -> “ ❌ Invalid number.”

## Screenshots

![](https://i.imgur.com/Zq29cAr.png)

[2021-01-19 07:59] YOLO1882 opened #61 "Typing bug"
i cant rapid type it deletes the msg even tho its correct

[2021-01-19 08:04] #61 closed, assigned to promise

[2021-01-24 22:59] ElectroGaming55555 opened #62 "The command c!setup doesnt work on my server"
I am the owner of the server. I type c!setup, nothing. I type c!help. Oh, maybe I am doing this wrong, Let's try c!help setup! Oh! I have to type c!autosetup. Nothing. It doesn't work for some reason. I don't believe it is just that server, either.

[2021-01-24 23:52] lacuna-exe commented on #62
Please join our support server linked above for help with this issue- nab. (Likely a permissions issue.)

[2021-01-24 23:56] #62 closed, assigned to promise

[2021-01-26 10:36] #60 closed, assigned to promise

[2021-01-28 10:02] promise opened #71 "c!setup command no longer working because of permission issues"
# Bug Report

The setup command does no longer work as intended when you add the bot through the invite link. This is because Discord "deployed a breaking change to the Create Guild Channel endpoint to address a permission escalation issue brought to our attention."

from the Discord Developers server.

[2021-01-28 10:42] Ta1al commented on #59
Added (#69)

[2021-01-28 10:42] #59 closed, assigned to promise

[2021-02-05 18:00] Prozilla opened #73 "Add flow trigger where user has X score *or more*"
Currently whenever a user gets a certain ampunt of points an action triggers but when you set this up after member's been counting and already passed that amount it won't trigger so it's be cool if it trigger whenever a member gained that amount of points OR more.

[2021-02-21 15:16] #71 closed, assigned to promise

[2021-03-02 15:21] lacuna-exe opened #75 "Add an error message while attempting to add more triggers/actions than are available to the user."
# Feature request

Add an error message while attempting to add more triggers/actions than are available to the user, as it is not apparently clear as it doesn't prevent you from editing the second trigger and such, it just saves whatever trigger you added most recently .

[Image](https://open-this.questionable.link/QwkejG.png) - Second trigger shown in flow creation menu. (Not currently possible

[2021-03-02 15:27] djohts opened #76 "typo in liveboard description"
typo in `c?help liveboard`
![image](https://user-images.githubusercontent.com/68508885/109671017-607e8e80-7b7c-11eb-9ae7-8be862d04d17.png)

[2021-03-03 17:33] lacuna-exe commented on #76
Aliases also seem to be incorrect and conflict with listregex.

[2021-03-04 15:31] Mephistou opened #77 "Counting in binary, hexadecimal, roman numerals and math equations"
Counting channel, but just in roman numerals

[2021-03-07 21:48] promise commented on #73
@Prozilla I honestly can't seem to find a use case for this. Please explain why you would need this for your server.

[2021-03-07 21:55] promise commented on #75
• if the user wants to add more triggers/actions than what is allowed, it will send an error message
• if the user wants to edit triggers/actions past the limit then that is also possible
• when Countr checks for triggers and executes actions, it still only checks the first X triggers and executes only the first Y actions. See src/handlers/counting.js[#L119](https://github.com/countr/countr/blob/m

[2021-03-07 21:55] #75 closed, assigned to promise

[2021-03-07 21:56] #76 closed, assigned to nobody

[2021-03-07 22:35] promise opened #79 "Add reload commands for troubleshooting etc."
# Feature request

Add reload commands for troubleshooting etc. to reload commands and maybe even handlers. Also add support for it to reload across all shards.

[2021-03-08 01:24] lacuna-exe commented on #73
Referencing where this was brought up [Message Link](https://discord.com/channels/449576301997588490/544222717373710356/807290343397130240) the use case it to give users who would've triggered the flow , but did so prior to the flow being implemented.

[2021-03-08 10:02] djohts commented on #79
In addition, maybe a shard respawn command?
Like: `c!respawn [0 | 0 1 2 | all]`

[2021-03-08 11:51] djohts opened #80 "'shards': no such option in config"
# *Bug* Report?

`config.shards` is requested in `sharding.js`, but there's no option `shards` in `config.json`

## Screenshots

![image](https://user-images.githubusercontent.com/68508885/110317722-36fab280-8015-11eb-969a-4b087de4b4b0.png)
![image](https://user-images.githubusercontent.com/68508885/110317797-4974ec00-8015-11eb-939e-0f5ca60a2798.png)

[2021-03-08 12:00] promise commented on #80
Intended. When self-hosting, you really only need one shard.

[2021-03-08 12:00] #80 closed, assigned to promise

[2021-03-11 09:14] promise commented on #79
I can do this through eval instead if it's ever needed.

[2021-03-11 12:51] #79 closed, assigned to promise

[2021-03-11 15:49] djohts opened #86 "[BUG] not starting"
# Bug Report

Countr doesn't start on last commit

## Reproducing

1. Update your files like in last commit (reload cmd)
2. Start your bot

## Expected behavior

No errors, working reload command but got `Manager: Shard X is starting.` msg and after 10-15 seconds it says `Killed`

## Screenshots

![image](https://user-images.githubusercontent.com/68508885/110814324-02dff580-8292-11eb-8d21-c2016f83

[2021-03-11 16:43] promise commented on #86
Cannot reproduce. A quick google search says it might be because of your RAM. Make sure you've updated all the files and not just the reload command as well. Also try and run the bot locally to see if it's an issue with your hosting provider or the actual source code itself. Get back to me when you know more about the issue.

[2021-03-12 06:08] fabianneufang commented on #86
I cannot reproduce it either.

[2021-03-12 06:08] #86 closed, assigned to promise

[2021-03-13 17:44] promise commented on #73
Closing this as I honestly don't see a use case other than someone not getting their reward earlier.

[2021-03-13 17:44] #73 closed, assigned to promise

[2021-03-15 15:56] djohts commented on #86
this bug was fixed in commit ec302841ffcedeebecf988eadf847e8adcb81a8b, thanks btw

[2021-03-15 17:17] promise commented on #86
seems to be a non-Windows bug as testing on Windows worked fine. Hence why I couldn't reproduce

[2021-03-16 07:39] promise opened #88 "More triggers and actions for flows"
# Feature request

Triggers:
- When someone fails to count
- When someone gets the timeout role

Actions:
- Reset the count

[2021-03-16 07:58] fabianneufang opened #89 "Translation"
# Feature request

Add translation to the bot

[2021-03-16 08:12] promise commented on #89
we've talked about this like 100 times, there's not really a high demand for this in a counting bot.

[2021-03-16 08:12] #89 closed, assigned to promise

[2021-03-16 11:18] djohts commented on #89
I could help with translating tho

[2021-03-18 17:44] promise commented on #77
Not requested so much, will close this. If you want something like this, feel free to fork the source code and make it yourself :)

[2021-03-19 02:23] lacuna-exe commented on #88
Possibly also a action for resetting the users score?

[2021-03-19 10:20] promise opened #94 "Top counter has a role"
# Feature request

Create a way to add a flow and action to the top counter / score in a server. I’m attempting to have a role automatically assigned to the top counter, and removed from anyone else who was top counter before.

This would be great for competition within a server to maintain the highest count. And just easier on the admins for not having to add/remove a top role every day.

Suggest

[2021-03-19 10:22] promise commented on #39
Solved it by just removing it, will make a better social image later.

[2021-03-19 10:22] #39 closed, assigned to promise

[2021-03-20 11:16] djohts opened #96 "autoreset user scores when resetting count"
# Feature request

A module or whatever to reset user scores with `c!resetcount`

[2021-03-20 11:21] promise commented on #96
A command for this already exists: `c!resetscore all`

[2021-03-20 11:21] #96 closed, assigned to promise

[2021-03-21 09:39] #88 closed, assigned to promise

[2021-03-21 10:07] djohts opened #97 "`c!reloadcommand` doesn't work with alias"
# Bug Report

`c!reloadcommand` doesn't work well when command alias is provided. It says `Command has been reloaded successfully.` but at the same time throws an error in console.

## Reproducing

1. Try to reload a command by an alias, for example `c!reloadcommand !`

## Expected behavior

Basic command reload with no errors

## Screenshots

![image](https://user-images.githubusercontent.com/685

[2021-03-21 10:10] promise commented on #97
Would be too much hassle also supporting aliases, it's based on the file system. Will keep this open, I can just make it so it checks if the file exists or not before doing it.

[2021-03-21 10:15] djohts commented on #97
yeah, I meant more to check for the existence of a file than to support aliases

[2021-03-21 15:52] fabianneufang commented on #97
Iirc you have the alias map that references to the file name. You could just get that name and then use the filename to reload it

[2021-03-22 21:53] lacuna-exe commented on #94
Possibly building on this idea- what if instead of just highest score  it could be position in leaderboard (allow for first,second,and third roles)

[2021-03-26 11:46] promise commented on #94
If I make a flow of this, I would have to calculate and store all user's ranking and then compare them each time someone counts. If someone has a more optimized way of doing it then feel free to send a message. Maybe it'll be restricted to the top three or top five people, that would be better.

[2021-03-26 23:17] promise opened #98 "Use a separate webhook server for slash commands?"
# Feature request

Use a separate webhook server for slash commands. Discord supports sending interaction events over webhooks, we could potentially just use that instead of doing it over the websocket.

**Pros:**
- it works even if the bot is offline, which might be useful in telling the user "hey, the bot is offline" or "hey, the bot is starting up, eta is xxx" etc.
- we can fetch information di

[2021-03-27 14:05] promise opened #99 "Restart the bot occasionally"
# Feature request

Make it so the sharding manager restarts the bot occasionally, for example every 24 hours. Right now if we manually restart, it will load up all the shards with a 10-second delay between each shard being spawned. Shard 0 is quite fast because it's the only one starting up at the time. Shard 69 is the slowest as it has started up alongside shards 40-68 basically.

I'm thinking ma

[2021-03-27 14:17] promise commented on #17
We log every week, so would be better to do this daily and weekly

[2021-03-27 21:45] promise opened #102 "Add two other lines to the info command to make all fields even with 4 lines each instead of 3,4,3"
# Feature request

Add two other lines to the info command to make all fields even with 4 lines each instead of 3,4,3. See #101

[2021-03-27 21:53] wrac4242 commented on #102
host uptime for the hosts
and its 3,3,4 at the moment, so stats needs a field
total count?

[2021-04-04 07:41] ririko5834 opened #104 "New slash commands"
Add also slash commands.

[2021-04-04 07:42] #104 closed, assigned to nobody

[2021-04-04 18:25] wrac4242 opened #105 "unpin action in flow"
# Feature request

an action that allows the unpinning of the last run pin action by the flow itself

The given example is to pin every 100th number number, but only have the newest one pinned

(idea courtesy of 195o#3435 on the discord)

[2021-04-04 18:31] wrac4242 commented on #105
Could this be implemented by:

- giving each flow another property,
    - which is the message ID of the last pinned message of the flow, and
- on the unpin action it checks whether the last pinned message ID exists,
    - if so it unpins it, making sure that each flow is independent

[2021-04-07 23:47] promise commented on #105
don't see a reason why this would be used and useful. would like more comments on how this would be used on a server.

[2021-04-07 23:57] promise opened #106 "Add a way to limit the amount of rate limit requests per guild, to avoid being IP-banned."
# Feature request

Add a way to limit the amount of rate limit requests per guild, to avoid being IP-banned. When limit has been reached, disable the counting channel for an hour or something.

Reason why this might get implemented is because if 10,000 invalid/bad requests (4xx status codes) were made to Discord within 10 minutes then the whole server (including other projects on it) will get temp

[2021-04-08 06:16] wrac4242 commented on #105
I think the person who suggested it wanted to have in the pins only the latest time a flow was triggered, possibly to reduce the amount of pinned messages. But again its not my idea, its 195o#3435 on discord idea

[2021-04-23 19:47] promise commented on #105
Not going to implement, not as of right now.

[2021-04-23 19:47] #105 closed, assigned to promise

[2021-04-23 19:52] promise commented on #102
Another solution to this would be just removing the uptime (there's really no need for it, they can just execute the ping command instead)

[2021-05-03 06:36] lacuna-exe opened #111 "Add a reset user score action"
# Feature request

Add an reset user score(or decrease by and amount such as one or all) to compliment the reset count action and count fail action.

[2021-05-07 12:31] Astropipe opened #112 "Command permissions"
# Feature request

Being able to limit commands to roles, channels, etc etc.

We have a 240 000 member server and if you have even have 50 idiots spamming the everyone commands in the counting channel it's gonna either break the bot or simply overflow the channel.

This is needed because the advice of remove the view permissions of the bot in the other channels is not enough as it still triggers a

[2021-05-19 11:51] lacuna-exe commented on #112
![54904266-AA34-416A-88FA-F9F71315654E](https://user-images.githubusercontent.com/72464187/118808022-01750f80-b877-11eb-993c-ab27b9be33d0.jpeg)
(From the support discord server)

[2021-05-20 11:52] Astropipe commented on #112
That's not at all what I'm saying, more the exact opposite.
I want to restrict commands, not give them free for all.
This is what I mean with server levels

Like this you can limit commands to a certain level instead of only behind server manage, role manage and such

![image](https://user-images.githubusercontent.com/30569805/118973871-72e5b880-b972-11eb-960b-3091a3d9ea47.png)

[2021-05-20 12:23] promise commented on #112
Might make something in the future for this, maybe in the d.js^13 rewrite. But feel free to self-host it until then.

I understand what you mean, it's been requested before as well.

The thing is, this will confuse a lot of new users using the bot. But maybe I can make two systems and the server owner can choose which one they want to opt in to.

[2021-05-20 12:55] Astropipe commented on #112
It def would be nice, certainly for large servers like ours.
Bunch of randoms with spam tendencies with access to commands is not the best thing.

Small servers usually don't have issues with this

[2021-05-20 21:56] datrandomduggy opened #115 "life system trigger"
# Feature request

add a trigger something(like resetting count) only happens when the count was messed up a certain number of times

also have some way for users to see how many lives are left

[2021-05-30 00:26] RuralAnemone opened #117 "Can't make a message flow send in a news channel"
Technically I can, but it needs to be a normal text channel first.
![image](https://user-images.githubusercontent.com/64103005/120088166-895fe280-c0dd-11eb-90f9-42f7fb76af87.png)
The bot can send messages in news channels, but only after the flow has saved and I change the channel type back to news.

[2021-05-30 00:28] RuralAnemone commented on #117
well
uh
alright then
kind of a strange thing to do
but okay

[2021-05-30 00:28] #117 closed, assigned to nobody

[2021-05-30 09:40] djohts commented on #117
huh

[2021-05-30 09:56] Ta1al commented on #98
The local mongodb can be opened for external connections. [This](https://www.digitalocean.com/community/tutorials/how-to-configure-remote-access-for-mongodb-on-ubuntu-20-04) or [this](https://medium.com/founding-ithaka/setting-up-and-connecting-to-a-remote-mongodb-database-5df754a4da89) should help.

You can also host the slash commands webserver on the same host as the bot, so the local database

[2021-05-30 11:16] promise commented on #98
If we cache stuff then it won't update. And since we use shards, the local cache is not the same. The bot basically creates 69 local caches (because we have 69 shards).

Opening up 69 connections through the bot that can be accessed either publicly or through another process on the server, will be tricky and inefficient for the future.

Even if we host the webserver on the same host/process, the c

[2021-06-08 18:04] RuralAnemone opened #118 "Different types of counting channels, essentially"
# Feature request

A suggestion from a friend, it was suggested in our counting server and I thought I'd post it here as a feature request:

[2021-06-11 17:38] DoctorDinosaur opened #119 ""Remove everyone from role" not working, even for active users"
# Bug Report

Created a flow to give the last person to count a role, and the last person to fail a different role.

Tried twice, both times it successfully grants the roles but never removes them. Hence the people with the role just stack up until there's loads of them

## Reproducing
Created the following flows

![image](https://user-images.githubusercontent.com/26852749/121727042-4a6d5c00-cae3-

[2021-06-14 05:56] promise commented on #119
It's just an issue with caching in general. When the Countr cache fills up, it can't store more members in the memory and basically just gives up. I will see if there's another solution to this in djs^13.

I've heard Discord is working on an endpoint to set a role's members, but this was a while ago so I'm unsure if they just gave up on it or didn't bother adding it at all.

[2021-07-02 11:49] wrac4242 opened #120 "add rolling restart functionality to the bot"
Add a command that restarts each shard one by one. This can help with rate limiting and downtime on restarts.

[2021-07-21 21:33] wrac4242 opened #123 "Add more functionality to send message action in flows"
# Feature request

Add a function to the message action in flows to allow to send the triggering messages contents
the functionality must also get ignored or filtered in some form if it triggers a regex filter

this will be useful if you want to create a second channel where all triggers of a flow are sent, especially with the pin limit of 50

[2021-07-21 21:55] wrac4242 commented on #123
seems like [editing this line](https://github.com/countr/countr/blob/ddacf83c6878c809e3eaedfc1d880e560083566d/src/constants/flows/flow.js#L101) will allow it

[2021-07-21 21:57] wrac4242 commented on #123
add the message content to there and use that in its own replace
only thing i can think may need adding in other places would be to update the sent message in the flow creation

[2021-07-22 18:36] #123 closed, assigned to promise

[2021-07-23 16:44] wrac4242 opened #125 "Able to set flow setup channel as message sending channel"
# Bug Report

Create a flow, edit action 1, send message action, then send a link to the flow setup channel

## Expected behavior

Does not accept it as a valid channel

## Screenshots

![image](https://user-images.githubusercontent.com/42539664/126814634-64a7e15b-768c-4de0-b41d-68cf4085a1e4.png)

[2021-07-23 16:55] djohts commented on #125
found a solution, currently testing it

[2021-07-23 17:24] #125 closed, assigned to promise

[2021-07-24 17:40] RuralAnemone commented on #16
You might be able to implement the userid in the webhook/repost name title...?
Not sure if that would be detectable though, at least for the webhook...
as well as the fact that you'd need to do an update for the userid thing, and one for the counting detection, and if people have been counting before the hypothetical userid update, it would break (or something).

[2021-07-24 17:43] promise commented on #16
If someone has counted with Countr, even if it's reposted via embed or webhook, their score would already have been updated. This feature is more for those transferring from another bot to Countr and need to get all the users' scores from the channel.

[2021-07-24 17:59] RuralAnemone commented on #16
oh yeah good point :)

On Sat, Jul 24, 2021 at 12:43 PM Glenn ***@***.***> wrote:

[2021-07-27 19:17] wrac4242 opened #128 "Add thread support"
# Feature request
add thread support to the bot, possibly with either auto sending of messages to keep the thread alive, or unarchiving the thread

[2021-07-27 19:32] promise commented on #128
..?

[2021-07-27 19:34] wrac4242 commented on #128
for example replacing this
![image](https://user-images.githubusercontent.com/42539664/127216555-26af23cb-5dfd-4946-bc89-c11e95d6ef88.png)

[2021-07-27 19:38] djohts commented on #128
I don't think there's a reason for doing this

[2021-07-27 21:00] promise commented on #128
TBD when djs^13 is out

[2021-07-29 18:32] promise commented on #98
Closing this as we will use components and stuff, which would be better to have in the same code as the original bot and not separated.

[2021-07-29 18:32] #98 closed, assigned to promise

[2021-08-01 21:23] RuralAnemone commented on #94
you might be able to have it take scores from the liveboard, but the only downside to that would be that it wouldn't be fully live...

[2021-08-01 21:24] wrac4242 commented on #94
on update to the leaderboard event?

[2021-08-01 21:26] RuralAnemone commented on #94
yes, that was what I was thinking

[edit: sorry I thought you meant liveboard :) ]

[2021-08-01 21:27] wrac4242 commented on #94
if it is directly linked to the leaderboard update, it should be as live as possible

[2021-08-01 21:28] wrac4242 commented on #94
then you only need to remove the role off the person in 2nd place if they have it and add it to 2nd place

[2021-08-01 21:35] RuralAnemone commented on #94
good point
although I'm not sure how much that would affect latency and whatnot
you could use multiprocessing (or some equivalent of checking if the first place person has fewer points than the second place person (and the third, and the fourth, etc...), then using another script to change the roles around)

[2021-08-02 00:36] promise commented on #48
Still an issue for some people elsewhere when displaying flow content

[2021-08-02 00:42] promise commented on #99
This shouldn't be an issue in v13.

[2021-08-02 00:42] #99 closed, assigned to promise

[2021-08-02 00:49] promise commented on #112
As Discord has introduced and forced slash commands (see https://support-dev.discord.com/hc/en-us/articles/4404772028055), this will be harder to implement. I am patiently waiting for global slash command permissions to come out, and depending on how they are set up, I might be able to implement this.

[2021-08-02 00:50] promise commented on #115
This seems like a very unique request only one person has asked about, at least for now.

Closing this, but might do something like this in the future if it get requested a lot.

[2021-08-02 00:50] #115 closed, assigned to promise

[2021-08-02 00:52] promise commented on #118
I know it's not *exactly* what you requested in your feature request but we will be adding support for multiple counting channels in v13.

Closing as it has low demand right now. Might reopen in a later time.

[2021-08-02 00:52] #118 closed, assigned to promise

[2021-08-02 00:54] promise commented on #128
yeah, will be supported in v13.

Closing as this will basically be supported by just installing discord.js v13, and therefore not an issue anymore.

[2021-08-02 00:54] #128 closed, assigned to promise

[2021-08-02 09:10] Pearl8520 commented on #77
Yes yes yes!

[2021-08-02 09:16] wrac4242 commented on #77
possibility of hexadecimal to be considered?

[2021-08-02 10:04] promise commented on #77
extending this issue

[2021-08-02 15:50] RuralAnemone commented on #118
well it's better than nothing - thanks!

[2021-08-02 21:25] wrac4242 commented on #17
will this be opt in or opt out, as there is a potential difference
i support opt in for it, this both protects privacy and also helps reduce stress on the system by having to sort through less and removing the dead servers with the bot just in

[2021-08-02 21:43] promise commented on #17
yes, it will be opt-in only. people will have to run the `/set visibility` command

[2021-08-07 16:40] wrac4242 opened #131 "change off discord erlpack"
# Bug Report

when trying to npm install on the discord JS 13 branch, an error is formed. this is [noted in the repo and fixed in a PR](https://github.com/discord/erlpack/pull/40), however the repo has not been updated in over a year and has not merged relevant pull requests

This is tested on fedora 34 linux, and seems to be a lack of support for npm 16

## Reproducing

checkout branch djs-13
run

[2021-08-07 16:41] wrac4242 commented on #131
this can either be fixed with that PR being merged, or changing to a different erlpack

[2021-08-07 16:41] djohts commented on #131
https://github.com/discord/erlpack just doesn't work on nodejs v16

[2021-08-07 16:42] wrac4242 commented on #131
npm v16 is required for djs 13 however, so that causes some issues

[2021-08-07 16:45] promise commented on #131
not a bug with master/current version of Countr. djs-13 is WIP and bugs are expected.

[2021-08-07 16:45] #131 closed, assigned to promise

[2021-08-07 16:47] djohts commented on #131
just to clarify, npm is v7, v16 is nodejs' version

[2021-08-07 18:41] splatterxl commented on #131
Actually, v13 is a stable release.

[2021-08-07 18:42] wrac4242 commented on #131
they are referring to the staging and moving over branch

[2021-08-07 18:53] promise commented on #131
wrac is correct, I'm referring to the branch. but discord.js version 13 is still not perfect either

[2021-08-07 20:37] FrozenHyper opened #132 "make this a template repository"
# Feature request

Write a summary here. It can be as short as the short summary in the title, or longer.

Make this a template repository so that we can make it a private repo.

[2021-08-07 20:44] promise commented on #132
why would you need a private repo?

[2021-08-08 09:49] promise opened #133 "New regex module crashes on some regex filters it thinks are invalid"
# Bug Report

New regex module crashes on some regex filters it thinks are invalid

## Reproducing

1. Must already have a server with a valid regex including `(?!`
2. Try to count without having manage messages

## Expected behavior

Should work fine as a regex. Doesn't work anymore because of our new regex module.

## Screenshots

![image](https://user-images.githubusercontent.com/10573728/12862

[2021-08-08 18:26] wrac4242 commented on #133
this seems to be an issue with the type / "flavour" of regexes it expects, as "perl" is a programming language it has its own flavour of regexes. These flavours all have the same standard base, however are expanded in a variety of different non standard ways. This is expressed in a quote from [this wikipedia page](https://en.wikipedia.org/wiki/Regular_expression).
 "Perl-derivative regex implement

[2021-08-09 10:25] promise commented on #132
closing due to no response. if you need a private repo then follow [this guide](https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/duplicating-a-repository) or just copy/paste the files in your own private repo. I'm not going to make this a template just for one user.

[2021-08-09 10:25] #132 closed, assigned to promise

[2021-10-04 03:33] lacuna-exe commented on #77
Any chance of skip counting qualifying under this?

[2021-10-04 09:23] promise commented on #77
it is possible I guess, wouldn't be so hard. I don't really see a use case for it but sure

[2021-10-11 22:17] Villmarksjenta opened #138 "Toggle wether it should remove normal words or not"
# Feature request

It would be nice to have a module where you could enable or disable so the bot will only remove false numbers, and not normal sentences. Similar to using "!" but without the actual prefix.

[2021-10-26 07:39] wrac4242 commented on #120
Could we bump this to a current version task? due to the current issues

[2021-11-06 16:39] Lag2501 opened #141 "A penalty for those missing the counter"
# Feature request

Allowing the possibility to add a penalty for those missing the counter. If you miss you can get -10 or -20 on your score and in the leaderboard for example. A way to make to reward people who don't miss and punish those who do. Simple way to create a real stake on the counter.

And in case of errors with the BOT, it could be nice for an admin to be able to give points back of c

[2021-11-14 20:21] QaisZAK opened #143 "Trigger Req: Score >= X"
# Feature request

I think adding a trigger where the user's score is X or more could be superb. I had an event where you had to count at least 150 times to be eligible for a giveaway, I was hoping the bot could see if a user has 150 >= and assign a role accordingly.

I understand they may spam triggers because every count from a user that is already above X could trigger actions but I think you c

[2021-11-14 20:22] promise commented on #143
You only need to give a role once though..?

[2021-11-14 20:25] QaisZAK commented on #143
Yes, understandable but I haven't created a workflow from the beginning as it was a bit intimating and after I understood it users have already passed 150 and it's difficult to manually assign them. I do get your point though

[2021-11-14 20:34] promise commented on #143
we can definitely do this. Might be more tricky as we're probably going to be rate limited if we try to add the role each time, but that's just something we need to work around with checks.

[2021-11-14 20:52] QaisZAK commented on #143
Could check if the user has the role before assigning so you don't get rate limited. DJs cache comes in handy here

[2021-11-14 21:52] promise commented on #143
problem is, djs cache isn't reliable at all

[2021-12-10 10:29] promise commented on #120
current issues are related to certain channel types, this won't affect anything.
i know this is an old issue but it will be fixed in the rewrite.

[2021-12-10 10:32] promise commented on #97
Reload command will not be implemented in the rewrite as the rewrite is in TypeScript through Docker, aka. I have to manually rebuild and restart a cluster for it to update a command.

[2021-12-10 10:32] #97 closed, assigned to promise

[2021-12-10 10:44] promise opened #145 "Slash commands in djs^13 rewrite"
Issue for tracking.

- [x] `/about` - will merge info- and ping-command into one
- [x] `/channels link channel: count: counting_system?:`
- [x] `/channels list`
- [x] `/channels new name?: thread_in?: counting_system?:`
- [x] `/channels unlink channel?:`
- [x] `/data export all`
- [x] `/data export flow flow:`
- [x] `/data export flows`
- [x] `/data export scores`
- [x] `/data import flow flow_fil

[2021-12-11 16:26] promise commented on #120
just realized that since we will be using clusters, this will not really work. the clusters auto-restarts whenever they fail, and the manager is set up so clusters won't start at the same time but rather wait.

closing

[2021-12-11 16:26] #120 closed, assigned to promise

[2021-12-17 01:20] RuralAnemone opened #146 "funky leaderboard"
# Bug Report

leaderboard displays seemingly random userids instead of the users of the server

## Reproducing

1. Run command `c?^`

## Expected behavior vs. Actual behavior
1 -  showing only the server's leaderboard
2 - no idea whose userids those are
A clear description of what you expected to happen and what actually happened:
I wanted to check my placement on the server leaderboard, so I used

[2021-12-17 02:03] Milo123459 commented on #146
this isn't a bug, this just means the user isn't cached on your discord client.

[2021-12-17 02:14] RuralAnemone commented on #146
oh okay
good to know

[2021-12-17 02:14] RuralAnemone commented on #146
although
we've only counted to like 250 so far
If I understand what you're saying correctly

the highest count is 1268
which doesn't work...

[2021-12-17 02:18] Milo123459 commented on #146
i dont know

[2021-12-17 04:41] lacuna-exe commented on #146
This would be better suited for the support server ( https://promise.solutions/support )

[2021-12-17 07:06] RuralAnemone commented on #146
gotcha

Den tors 16 dec. 2021 kl 22:41 skrev Void ***@***.***>:

[2021-12-17 10:10] promise commented on #146
issue moved to support server, closing this

[2021-12-17 10:10] #146 closed, assigned to nobody

[2022-01-18 22:50] promise commented on #111
implemented through `modifyScore`-action (accepts positive number or zero)

[2022-03-18 05:53] #143 closed, assigned to promise

[2022-03-31 20:16] MattTheCuber opened #220 "Incorrect fail after someone else fails when restarting count"
# Bug Report

__This applies to when you have reset the count after a fail.__
When someone fails and you were the previous counter, it deletes the failing person's message. Then when you try to count you fail, because the bot is checking the last person to send a count (which is you because the failing person's message was deleted).

## Reproducing

Counting example:
1. MattTheCuber: 50
2. ~~Anoth

[2022-03-31 20:35] promise commented on #220
Can confirm this is an issue. The code only sets the count, it doesn't reset who counted last: https://github.com/countr/countr/blob/djs-12/src/constants/flows/flow.js#L121

Issue is temporarily fixed and will take effect whenever the bot or the shards restart. (so it might not be live for everyone just yet) - But permanent fix is already implemented in the rewrite which is coming within April.

[2022-03-31 21:02] MattTheCuber commented on #220
Wow, that was quick and very useful. Thank you so much! (Also, no rush you now have until August 31st! XD

[2022-03-31 21:04] promise commented on #220
yeah, just read the deadline is moved. I will still try to release the rewrite before then though.

[2022-04-14 12:29] MattTheCuber opened #229 "When talking module is enabled allow people to talk after the number with a space"
# Feature request

Basically just grab every character until you find a non-digit in the first word when looking for the count.

![image](https://user-images.githubusercontent.com/32849887/163390693-f359dfbf-f867-423d-8f61-49ebe433d93e.png)

[2022-04-14 12:32] wrac4242 commented on #229
I am not entirely sure what you are asking, as the talking module does allow you to add messages after the count, separated by a space.
![image](https://user-images.githubusercontent.com/42539664/163391128-bdee1373-2abc-483d-8508-a1a7d4d3541f.png)
Do you mean, the space should not be needed? so `123a message here`?

[2022-04-14 12:34] wrac4242 commented on #229
Currently, the talking module requires a space, and that is why that message failed. It would have been `167:emoji:`

[2022-04-14 12:35] MattTheCuber commented on #229
Oh, I thought emojis started with `<` then the id and name...

[2022-04-14 12:37] djohts commented on #229
custom emojis yes, default emojis are `:name:`

[2022-04-14 12:38] wrac4242 commented on #229
Also, don't forget to answer the question in the first message

[2022-04-14 12:39] MattTheCuber commented on #229
That is correct

[2022-04-14 12:40] MattTheCuber commented on #229
So it would work if you implemented my suggestion?

[2022-04-14 12:41] wrac4242 commented on #229
if it was implemented that way, it would work yes. Looking at the code, it would require an edit to this [line here](https://github.com/countr/countr/blob/e4a35b2843230818b9f20522f45640aa4aa5cf65/src/handlers/counting/index.ts#L36)

[2022-04-14 12:42] wrac4242 commented on #229
If promise is ok with it, ill probably implement it when I can

[2022-04-14 12:43] MattTheCuber commented on #229
Awesome, would definitely help bc people are always saying bot broke when they do this lol

[2022-04-14 13:23] promise commented on #229
i don't see a reason to generally allow something like `123hello` etc. but I can make an exception for emojis ig. For now, just tell your users to add a space instead

[2022-04-14 13:24] wrac4242 commented on #229
I will add now then

[2022-04-23 12:07] #229 closed, assigned to nobody

[2022-04-26 13:31] Oakchris1955 opened #239 "Editing message breaks countr"
# Bug Report

Write a summary here. It can be as short as the short summary in the title, or longer.

## Reproducing

1. Run command '...'
2. Then count '...'
3. Then delete count '...'

## Expected behavior vs. Actual behavior

A clear description of what you expected to happen and what actually happened.

## Screenshots

If you have screenshots, please upload these.

[2022-04-26 13:42] lacuna-exe commented on #239
This seems to be missing reproduction steps making it unclear _how_ it breaks , however this sounds like an issue that would be better suited for the support server.

[2022-04-26 19:58] promise commented on #239
Seems like an issue that we can help you with in the support server like @e5510 said. Here's an invite: https://promise.solutions/support

[2022-04-26 19:58] #239 closed, assigned to nobody

[2022-05-11 19:56] DiabolusGX opened #254 "Expanded Timeout Role Functionality"
One of my friend reported an issue with webhook module not working properly when bot comes online after some time and missis some messages that leads to counter reset when someone counts wrong number.

### Example of above issue:
`ideasshared`'s msg was missed so they guessed `5` but I suppose according to bot, it was `4` since it was never captured and never post back by webhook.
![Resets when bo

[2022-05-11 21:47] lacuna-exe commented on #254
This already somewhat exists under the timeout role feature (see https://docs.countr.xyz/#/commands?id=csettimeoutrole ) , although it doesn't quite have the scope of options you described.

[2022-05-12 18:21] DiabolusGX commented on #254
Yes, cuz it's limited to timeout role, basically adding a role for some time and what I'm talking about is completely different.
But it looks like you've made up your mind or you're not open for suggestions by changing title.

Also, pls look into the issue described before the feature request part.

[2022-05-12 18:38] promise commented on #254
we're always open for suggestions (direct proof is that this suggestion is not closed), but this is indeed an expanded timeout role functionality as @e5510 said, which also fits the title better.

We're not planning on adding a module for this as modules are not that customizable, but we might however make something similar to the timeout functionality in our flows system.

[2022-05-12 18:39] promise commented on #254
And please join our help server (<https://promise.solutions/support>) to get help with your issue above. We won't help with issues like these over GitHub.

[2022-05-12 20:00] DiabolusGX commented on #254
So If I'd like to set a penalty for 5 wrong counts in 1 min to be a kick from server, it's not possible right now but personally I think it doesn't sound like `Timeout Role Functionality` either, that's why I suggested a new module.
I don't have much in depth knowledge of bot's structure but if not module, maybe a penalty command? or renaming the `timeout role` command to something more generic su

[2022-05-21 06:39] PokedWasTaken opened #260 "Errors I don't understand"
573 verbose stack Error: ENOTEMPTY: directory not empty, rename '/home/container/node_modules/acorn-globals' -> '/home/container/node_modules/.acorn-globals-YxTwKFQv'
574 verbose cwd /home/container
575 verbose Linux 5.10.0-9-amd64
576 verbose node v17.9.0
577 verbose npm  v8.10.0
578 error code ENOTEMPTY
579 error syscall rename
580 error path /home/container/node_modules/acorn-globals
581 error

[2022-05-21 07:32] djohts commented on #260
~~try deleting `node_modules` and then doing `npm i` again?~~ nvm

May be deleting `node_modules` folder and `package-lock.json` file and then reinstalling `npm` would resolve your issue.

So, consider the following commands to apply the above operations:
[code]

[src](https://stackoverflow.com/a/67992047/15145899)

[2022-05-21 08:36] promise commented on #260
join the support server @ https://promise.solutions/discord and we'll help you out if we can

[2022-05-21 08:36] #260 closed, assigned to nobody

[2022-07-10 13:01] RstYcz opened #309 "Threads"
Will thread support be added in the near future?
Counting so that it is not written to the channel, but to the thread.

[2022-07-10 13:04] #309 closed, assigned to nobody

[2022-07-25 14:48] renovate[bot] opened #334 "Dependency Dashboard"
![](https://i.imgur.com/kX4uzqH.gif)

## Awaiting Schedule

The following updates are awaiting their schedule. To get an update now, click on a checkbox below.

 - [ ] chore(deps): lock file maintenance

## Open

The following updates have all been created. To force a retry/rebase of any, click on a checkbox below.

 - [ ] [chore(deps): update express](../pull/1603) (`@types/express`, `express`)

[2022-07-28 05:01] Ta1al commented on #112
This is now possible with discord's slash command permissions
https://discord.com/blog/slash-commands-permissions-discord-apps-bots

[2022-08-06 18:41] #17 closed, assigned to promise

[2022-08-06 18:41] promise commented on #47
Implemented 👍

[2022-08-06 18:41] #47 closed, assigned to nobody

[2022-08-06 18:42] promise commented on #48
Should be fixed now 👍

[2022-08-06 18:42] #48 closed, assigned to promise

[2022-08-06 18:42] promise commented on #77
Implemented 👍

[2022-08-06 18:42] #77 closed, assigned to promise

[2022-08-06 18:42] promise commented on #102
Fixed 👍

[2022-08-06 18:42] #102 closed, assigned to promise

[2022-08-06 18:43] #111 closed, assigned to promise

[2022-08-06 18:43] promise commented on #112
Implemented by Discord, as said by Talal 👍

[2022-08-06 18:43] #112 closed, assigned to promise

[2022-08-06 18:44] promise commented on #119
Should be fixed now. Read here for more information: https://f17f0d62.countr.pages.dev/docs/troubleshooting#role-member-caching

[2022-08-06 18:44] promise commented on #133
Fixed 👍

[2022-08-06 18:44] #133 closed, assigned to promise

[2022-08-06 18:45] promise commented on #141
This is now possible using a timeout role and a flow 👍

[2022-08-06 18:45] #141 closed, assigned to promise

[2022-08-06 18:45] #145 closed, assigned to promise

[2022-08-12 10:31] promise opened #376 "Pruning scores doesn't actually remove the scores from the database"

[2022-08-12 12:18] Ta1al opened #379 "Add self-hosting instructions and general documentation"
There is no `example.env` file to quickly edit config.
There's also no simple way of registering the slash commands.

[2022-08-12 12:20] promise commented on #379
the interaction handler registers commands whenever shard 0's cluster is ready

[2022-08-12 12:22] Ta1al commented on #379
So it sends a request every time the bot starts?

[2022-08-12 12:25] promise commented on #379
yep. but it could be changed ig

[2022-08-13 01:30] MattTheCuber opened #381 "Replies are ignored"
# Bug Report

It seems that when someone replies to another message in the counting channel that the bot ignores it and does not increase the count. This confuses users as they see the previous reply message and assume they should count the next number even though the count was never increased making them fail.

## Reproducing

Counting example:
1. MattTheCuber: 50
2. AnotherPerson replying to Mat

[2022-08-13 08:22] Ta1al commented on #381
I can confirm this bug exists.

[2022-08-13 09:21] promise commented on #381
I've found a solution but I'm currently not home. will fix when I get home though

[2022-08-13 18:37] promise commented on #381
resolved, not deployed to prod though. will slowly deploy it after some tests.

[2022-08-13 18:37] #381 closed, assigned to nobody

[2022-08-14 18:47] MattTheCuber commented on #220
@promise this issue came back upon slash command release

[2022-08-14 19:05] djohts commented on #220
there is no reset count action now though (at least I can't find it, so correct me if i'm wrong)
now there's only set count action

[2022-08-14 19:17] MattTheCuber commented on #220
![image](https://user-images.githubusercontent.com/32849887/184551577-b8a218de-2413-434f-9d1b-d52f8abdce51.png)

[2022-08-14 19:20] djohts commented on #220
as i said, its **set** the count now, not **reset**

[2022-08-14 19:21] promise commented on #220
* will be fixed
* this is my fifth ping, please stop

[2022-08-14 20:35] MattTheCuber commented on #220
My bad

[2022-08-14 20:35] MattTheCuber commented on #220
Sorry! I didn't see any open issues 😬

[2022-08-15 06:15] promise commented on #376
nevermind, it was a rare edge case I guess

[2022-08-15 06:15] #376 closed, assigned to promise

[2022-08-15 07:35] #220 closed, assigned to nobody

[2022-08-15 07:55] #379 closed, assigned to promise

[2022-08-15 17:34] promise opened #392 "Server cooldown property on commands doesn't actually do anything"

[2022-08-15 17:35] promise opened #393 "Check if message is deletable before deleting or bulk deleting"

[2022-08-18 11:02] promise opened #401 "Add way to rebuild and restart the manager without the clusters restarting"
Currently when you restart the manager, it disconnects all websocket connections it has with the clusters, and the clusters exit process instead of continuing to run normally.

It is possible to run clusters on its own, it just requires some more tinkering.

Seeing as the manager might get more updates in the future, this is quite critical. If we want to deploy updates to the manager alone, we hav

[2022-08-19 23:43] DoctorDinosaur commented on #119
Still not working
![image](https://user-images.githubusercontent.com/26852749/185748557-61547da5-570b-40fb-8089-4498660d0f38.png)
I end up with multiple people with the role. Perhaps its moving too quickly, since I'm doing it every number.

It's computationally easier if you could add an action to "Give unique role"
Which caches just the single previous owner, removes it from them, and gives it to

[2022-08-19 23:47] DoctorDinosaur opened #404 "Add a "give unique role" action"
# Issue
"Remove everyone from role" is still iffy. See https://github.com/countr/countr/issues/119
Multiple people still get left with the role.
Perhaps its because I'm running it every counted number, but that's what would make this fun.

The issue is with caching and memory usage.

# Solution
Could you instead add a new action which gives a single person a role, and stores their user info? Then,

[2022-08-20 19:24] Elemental2468 opened #407 "Text alongside with the numbers Issue"
Hi, so the countr bot doesn't allow me to type in text along with the numbers next to it like
15 this is a example :D
This works in other servers but I am trying to help set it up for my friend but it doesn't seem to work. Can you help me?

Thanks!

[2022-08-20 19:26] wrac4242 commented on #407
Hi, have you enabled the module? run `/modules` then `read more about`, select `talking` then enable it there
also, next time go to the support server. reduces issues here

[2022-08-20 19:29] Elemental2468 commented on #407
Thank you! It works now!
Also thanks for letting me know to go to the support server instead of here.

[2022-08-20 19:29] #407 closed, assigned to nobody

[2022-08-30 06:04] #393 closed, assigned to promise

[2022-09-11 07:44] #392 closed, assigned to promise

[2022-09-15 07:32] #119 closed, assigned to promise

[2022-09-15 07:32] #404 closed, assigned to promise

[2022-09-30 22:13] Bongo50 opened #498 "Counting in base 16 or 36 should not be case sensitive"
Counting in base 16 or 36 is currently case sensitive. For example, counting 10 as "A" in either system would currently be considered incorrect. Currently, the bot only accepts "a". However, this is unnecessary. Neither system needs enough characters to require differentiating upper case and lower case letters. Being case sensitive for these systems only creates confusion and makes counting on mob

[2022-10-01 19:33] #498 closed, assigned to nobody

[2022-10-06 20:27] labicbretagne opened #516 "Slash Command Localization"
Idea/suggestion : That the bot can speak several languages

[2022-10-08 07:23] Ta1al opened #523 "Embed module doesn't use member display color"
![image](https://user-images.githubusercontent.com/43641182/194694482-c97a5dc8-d56b-42f2-b2bd-7e121c9d9f8b.png)

# Cause
[code]

Since, `maxSize` for member manager is set to 0, it doesn't cache the member at all i.e., `message.member` is always `null`.

[2022-10-08 10:56] wrac4242 commented on #106
any ideas how this could be done?

[2022-10-08 13:04] MaSeraphina commented on #106
There is a bot that does this with some sort of a activity score.
Every server starts at 0, for every big action that happens the score goes up by 1 or 2. When you reach a score 20 a message is sent in a preset channel that some features are reduced/disabled for some time. (e.g. /level displays the level as text instead of a picture)
Every 5-7 minutes the score drops by 2-4 points until its below

[2022-10-08 13:48] wrac4242 commented on #106
that would work yea, however the issue could be stuff like "send message in a channel" and the bot not having access to the channel, plus the sorta timing relating stuff can get messy. but that method seems practical

[2022-10-13 07:15] #94 closed, assigned to promise

[2022-10-13 10:09] #523 closed, assigned to Ta1al

[2022-10-13 10:11] promise commented on #106
This was mostly an issue when doing notifications and people intentionally blocking the bot to get it IP-banned. It's fixed now though so should be fine to ignore this.

[2022-10-13 10:11] #106 closed, assigned to promise

[2022-10-13 10:19] promise commented on #254
This sounds like a more advanced idea that we might do in the future, but doesn't seem like it has a high demand as of right now.

Closing but might reopen in the future.

[2022-10-13 10:19] #254 closed, assigned to nobody

[2022-10-13 10:24] promise commented on #516
We've already tried this twice, not a lot of people used it both times, and we also didn't have enough translators. The problem here is that a lot of strings in the code itself needs to be ported elsewhere and handled properly, which takes a lot of time and also slows down new features etc.

It might be something we will reconsider in the future though but it's currently not planned.

[2022-10-13 10:24] #516 closed, assigned to nobody

[2022-10-21 19:15] promise opened #548 "Updating count is confusing with non-decimal counting systems"
![image](https://user-images.githubusercontent.com/10573728/197272282-fe8a9479-c19f-4011-b3b6-3a86a8eaa1b0.png)

Best solution would be to display two values if it's not decimal. Alternatively add "Actual count: x" to the `/count` command.

[2022-10-27 08:43] promise opened #567 "Add logging to webhook module failing"

[2022-11-10 07:29] #567 closed, assigned to Ta1al

[2022-11-10 08:14] promise opened #586 "Add way to reset scoreboard"
`/data reset scores` (move `/data reset` to `/data reset all`)

[2022-11-11 10:14] #586 closed, assigned to Ta1al